In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
data = pd.read_csv(r'C:\Users\urgpa\OneDrive\Escritorio\Documentos\RELHACKERS\LEWORK\DAY7_0\NOTEBOOK\learningSet\learningSet.csv')
data.shape

(95412, 481)

In [70]:
data.shape

(95412, 479)

In [7]:
pd.DataFrame(data.isna().sum())

            0
ODATEDW     0
OSOURCE     0
TCODE       0
STATE       0
ZIP         0
...       ...
MDMAUD_R    0
MDMAUD_F    0
MDMAUD_A    0
CLUSTER2  132
GEOCODE2  132

[481 rows x 1 columns]

In [14]:
data.where(data == ' ').sum()

ODATEDW     0.0
TCODE       0.0
STATE       0.0
ZIP         0.0
DOB         0.0
           ...
RFA_2A      0.0
MDMAUD_R    0.0
MDMAUD_F    0.0
MDMAUD_A    0.0
CLUSTER2    0.0
Length: 416, dtype: float64

In [46]:
def filter_nulls(df, perc = .25):
  ''' This function gets a dataframe, inspects the percentage of null values in each column 
      and returns a list of those columns which has a percentage above the threshold value 
      provided by the user. A default percentage value of 25% is assumed unless another value
      is provided in the function arguments.
      Inputs: 
        df: a dataframe to inspec
        [perc]: percentage of null values in each column
      Outputs:
        list of columns which have a percentage of null values above the specified thershold.
  '''
  nulls_percent_df = pd.DataFrame(df.isna().sum()/len(df)).reset_index()  
  nulls_percent_df.columns = ['column_name', 'nulls_percentage']
  columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>perc]
  drop_columns_list = list(columns_above_threshold['column_name'])
  return drop_columns_list

In [65]:
drop_columns_list = ['OSOURCE', 'ZIP']
drop_columns_list_trsh = filter_nulls(data, 0.15)

In [66]:
drop_list = drop_columns_list + drop_columns_list_trsh

In [67]:
data = data.drop(drop_columns_list, axis = 1)

In [72]:
#drop_columns_list

In [73]:
#drop_columns_list_trsh

In [75]:
data['GENDER'].unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

In [86]:
#print(data['GENDER'].value_counts())
data['GENDER'] = data['GENDER'].fillna('F')

In [85]:
print(data['GENDER'].value_counts())

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64

In [81]:
def gender_assingment(x):
    if(x not in ['F', 'M']):
        x = 'other'
    return x

In [84]:
data['GENDER'] = data['GENDER'].apply(gender_assingment)